<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppGroupIdentifier</key>
	<string>$(APP_GROUP_IDENTIFIER)</string>
	<key>MainAppBundleIdentifier</key>
	<string>$(MAIN_APP_BUNDLE_IDENTIFIER)</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>processing</string>
	</array>
	<key>WKBackgroundModes</key>
	<array>
		<string>extendedRuntime</string>
		<string>physical-therapy</string>
	</array>
</dict>
</plist>
